.userInfo {
	height: 5%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em;
	border-bottom: 1px solid rgba(75, 75, 75);
}
.comments {
	width: 100%;
	height: 90%;
	border-bottom: 1px solid rgba(75, 75, 75);
}
.stats {
	width: 100%;
	padding: 1.5em;
	height: 5%;
	border-bottom: 1px solid rgba(75, 75, 75);
	display: flex;
	align-items: center;
}
.icon {
	cursor: pointer;
	font-size: 1.5rem;
	color: white;
	transition: color 0.3s;
}
.buttons {
	height: auto;
	padding: 0.5em;
	border-bottom: 1px solid rgba(75, 75, 75);
}

.icon:hover {
	color: red;
}
.likes {
	font-size: 0.9rem;
	padding-left: 0.7em;
	color: white;
}
.icons {
	padding: 0 0 1em 1em;
	display: flex;
	align-items: center;
	gap: 1em;
}
.stats {
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.commentInput {
	width: 90%;
	background-color: transparent;
	padding: .5em
}

.text {
	color: rgb(179, 219, 255);
}

@media (max-width: 1264px) {
	.div {
		display: none;
	}
}
