.stats {
	border-bottom: 1px solid rgb(75, 75, 75);
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
}
.upside {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	border-bottom: 1px solid rgb(75, 75, 75);
}
.icon {
	padding: 0.5em 1em;
	font-size: 1.2rem;
}

.settings {
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
}
.heart {
	cursor: pointer;
	color: white;
	transition: color 0.3s;
}
.addingComment {
	height: 100px;
	width: 100%;
	background-color: white;
}
.heart:hover {
	color: red;
}
.likes {
	font-size: 1.2rem;
}
.userinfo {
	margin: 0 auto;
	align-content: center;
	width: 90%;
	height: 50px;
	border-bottom: 1px solid rgb(75, 75, 75);
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 20% 80%;
	grid-gap: 5px 0;
}
.img {
	grid-area: 1/1/2/1;
}
.username {
	grid-area: 1/2/1/2;
	padding-top: 0.7em;
}
.title {
	grid-area: 2/2/2/2;
	color: rgb(177, 177, 177);
}
.container {
	display: none;
}

/* @media (min-width: 768px) { */
	/* .upside {
		display: none;
	}
}
@media (min-width: 0px) and (max-width: 1264px) {
	.container {
		display: block;
	}
} */
